/*  work scan from google mama  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800;900&display=swap');


/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.text-light-gray{
    color: #727272; ;
}
.section-title{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
}
/* button style */
.btn-primary{
    border-radius: 8px;
    background-color: yellowgreen;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;

}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    /* width: 100%;
    height: 500px; */
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center  ;
}

nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color:  #424242;
    font-size: 18px;
    /*  font-size: 1rem;*/
    font-weight: 500;


}
nav li a{
    text-decoration: none;
    color: palevioletred ;
}

.banner{

}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 45px;
    font-weight: 600px;
    color: Dark 03;
}

.banner-img{
    width: 100%;
    margin-top: 10px;
    
}


/* main style */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style */
.teams-container{
    display:flex;
    align-items: center;
}
   
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
    
}
.teams-title{
    font-size: 45px;
}
.teams-title .Quick{
  
    font-weight: 700px;

}
.teams-container-description{

}
.teams-title .text-feature{
    color: chocolate;
    font-weight: 700px;
}





/* responsive for small device  */

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
        
    }

    
}
/* responsive  web for  medium device  */
@media screen and(min-width:576px) and(max-width:992px) {
    nav, .teams-container{
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
    
}